body {
text-align : center;
align-items: center;
align-content: center;
font-family: 'Poiret One', cursive;
}

button {
  color:black;
  border:2px solid black;
  background:transparent;
  border-radius:25px;
  height:50spx;
  width:100px;
}
