body {
text-align : center;
align-items: center;
align-content: center;
font-family: 'Poiret One', cursive;
}

button {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-weight: bolder;
  color:black;
  border:2px solid black;
  background:transparent;
  border-radius:30px;
  height:60px;
  width:100px;
}
